beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
Flask
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
requests
soupsieve
urllib3
Werkzeug
zipp
psycopg2
gunicorn
